html{
	font-family: Inter,Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
	background-color: lightpink;
	line height: 4em;

}
:root{
	--color-base:black;
	--color-brand:lightpink;
	--color-accent:purple;
	--color-bg:lightpink;

	--font-body:Inter,Arial, Helvetica, sans-serif;
	--font-display: var(--font-body);
	--font-heading:'Bebas Neue';

	--size-sm:1rem;
	--size-shmd:2rem;
	--size-md:3rem;
	--size-lr:5rem;

	/*font/color base*/
	color:var(--color-base);
	background-color:var(--color-bg);
	font-family:var(--font-body);
}

body {
	color: var(--color-base);
	padding:var(--size-md);
	}

section{
	margin-block-start:var(--size-md) ;
	max-inline-size: 100ch;
}


hgroup {
	margin-block-end:var(--size-md);
}

h1 {
	font-family:"Bebas Neue";
	color:var(--color-base);
	font-size: 7rem;
	line-height: 0.9em;

}

h2 {
	font-size: 2rem;
	font-family: "Bebas Neue";
	color: var(--color-base);
	text-align: center;
	font-size:3.5rem;

}

h2 span{
	display:block;

}

a{color:var(--color-accent);
text-decoration:underline;
}

p{line-height: 1.5rem;
	margin-bottom: 1rem;
	}



.quote{
	font-weight: bold;

}

.highlight{
	background-color:var(--color-bg);
}
.numbers{
	color: var(--base-color);
	font-size: 7rem;
	font-weight: bold;
}

.title2{
	font-size: 5rem;
	text-align: right;
	line-height: 0.9em;
}

.authortime{
color: var(--base-color);
font-weight: 500;
}

.highlight4{
	text-indent: 10rem;
	padding-left: 10rem;
	font-weight: bold;
	color: var(--base-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight5::first-letter {
color: var(--base-color);	font-size: 1em;
	font-weight: bold;
}

.design{
	font-family: "Bebas Neue";
	font-size: 5rem;
	color:var(--base-color);
	font-weight: lighter;
}

.obscures{
	font-family: "Bebas Neue";
	font-size: 6rem;
	color:var(--base-color);
	font-weight: 700;
}

.complexity{
	font-family: "Bebas Neue";
	font-size: 9rem;
	color:var(--base-color);
	font-weight: bolder;
}

#quote{
	padding: 4rem;
	font-style: italic;
}

.callout{
font-family: Inter;
font-size: 4rem;
line-height: 1em;
padding: 3rem

}
strong {
	font-weight:800;
	color:var(--color-accent);}

.bgcolor{
	background-color:var(--color-accent);
	width:100%;
	height: 100%;

}

.response{
	margin: 0;
}

.position1{
	text-align: right;
}


