html{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
	background-color: lightpink;
	line height: 4em;

}
body {
	color: black;
	padding:3rem
	}

	...{
		margin-block-start: 1rem;
	}


h1 {font-family:"Bebas Neue";
	color:lightpink;
	font-size: 7rem;
	line-height: 0.9em;
	background-color: black;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

h2 {font-size: 3.5rem;
	font-family: "Bebas Neue";
	color: black;
	text-align: center
}

a{ color:black;
text-decoration:underline;
}

p{line height: 7em;
	}

}

.blockquote{
	font-weight: bold;
}
.highlight{
	background-color:lightpink;
}
.highlight1{
	color: black;
	font-size: 7rem;
	font-weight: bold;
}

.highlight2{
	font-size: 5rem;
	text-align: right;
	line-height: 0.9em;
}

.highlight3{
	color:black;
	font-weight: 500;
}

.highlight4{
	text-indent: 10rem
	padding-left: 10rem;
	font-weight: bold;
	color: black;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight5::first-letter {
	color: black;
	font-size: 1em;
	font-weight: bold;
