html{
	font-family: Inter,Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
	background-color: lightpink;
	counter-reset:mycounter;
}
:root{
	--color-base:black;
	--color-brand:lightpink;
	--color-accent:purple;
	--color-bg:lightpink;

	--font-body:Inter,Arial, Helvetica, sans-serif;
	--font-display: var(--font-body);
	--font-heading:'Bebas Neue';

	--size-sm:1rem;
	--size-shmd:2rem;
	--size-md:3rem;
	--size-lr:5rem;

	--body-width:90ch;
	--quote-width:calc(0.5 * var(--body-width));

	/*font/color base*/
	color:var(--color-base);
	background-color:var(--color-bg);
	font-family:var(--font-body);
}

body {
	color: var(--color-base);
	padding:var(--size-md);
	}

section{
	margin-block-start:var(--size-md);
	max-inline-size:var(--body-width);
	margin-inline:auto;

}


hgroup {
	margin-block-end:var(--size-md);
}

h1 {
	font-family:"Bebas Neue";
	color:var(--color-base);
	font-size: 7rem;
	line-height: 0.9em;
	font-weight:500;

}

h2 {
	font-size: 4rem;
	font-family: "Bebas Neue";
	color: var(--color-base);
	text-align: center;

}

h2::before{
	display: block;
	counter-increment: mycounter;
	content:"0"counter(mycounter);
	color: var(--base-color);
	font-size: 7rem;
	font-weight: bold;
	padding-block-start: .5rem;
}

h2 span{
	display:block;

}

li{
	color:var(--color-base);
}


a{
	text-decoration:underline;
	color:var(--color-base);
}

a:hover{
	font-weight:700;
	color:var(--color-accent);

}

p{
	line-height: 1.5rem;
	margin-bottom: 1rem;
	}


span{
	display:block;
	line-height: 3rem;
	margin-block: 1rem;
	line-height: 0.9em;

}
.quote{
	font-weight: bold;

}

.highlight{
	background-color:var(--color-bg);
}
.numbers{
	color: var(--base-color);
	font-size: 7rem;
	font-weight: bold;
}

.title2{
	font-size: 5rem;
	text-align: right;
	line-height: 0.9em;
}

.authortime{
	color: var(--base-color);
	font-weight:450;
	margin-block-start:.5rem;
	margin-block-end:.5rem;
}

.highlight4{
	text-indent: 10rem;
	padding-left: 10rem;
	font-weight: bold;
	color: var(--base-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight5::first-letter {
color: var(--base-color);	font-size: 1em;
	font-weight: bold;
}

.wordladder1{
	font-family: "Bebas Neue";
	font-size: 5rem;
	color:var(--base-color);
	font-weight: lighter;

}

.obscures{
	font-family: "Bebas Neue";
	font-size: 6rem;
	color:var(--base-color);
	font-weight: 700;
}

.complexity{
	font-family: "Bebas Neue";
	font-size: 9rem;
	color:var(--base-color);
	font-weight: bolder;
}

#quote{
	padding: 3rem;
	font-style: italic;
}

.callout{
	font-family: Inter;
	font-size: 4rem;
	line-height: 4rem;
	padding: 3rem;
	text-align:center;
	max-width: var(--quote-width);


}

.callout p{
	max-width: var(--quote-width);

}
.callout2{
	color: var(--color-brand);
	font-family: Inter;
	font-size: 3rem;
	line-height: 3rem;
	padding: 3rem;
	text-align:center;
	max-width: var(--quote-width);

}

/* strong:hover{
	color:var(--color-accent);
} */

strong {
	font-weight:800;
	color:var(--color-accent);
}


em{
	font-weight:800;

}
.bgcolor{
	background-color:var(--color-base);
	padding-block-start: 3rem;
	padding-inline-end: 3rem;
	padding-block-end: 1rem;
	padding-inline-start: 3rem;
}

/* span{
	line-height: 0.9em;
} */

.response{
	color: var(--color-brand);
}


